.footer {
  background: #2f303a;
  display: flex;
  flex-direction: row;
}

.footer-left {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-right {
  display: flex;
  margin-left: 70px;
  margin-top: 72px;
}

.footer a {
  text-decoration: none;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  padding-top: 20px;

  color: #ffffff;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  margin-top: 9px;

  &:hover {
    color: #2196f3;
  }
}

.social-media {
  width: 206px;
  height: 80px;
}

.social-media-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #fff;
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media-list-icon {
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    fill: #fff;
  }
}

.social-media-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #2196f3;
    fill: #fff;
  }
}

.footer-newsletter {
  display: flex;
}

.footer-form {
  margin-top: 72px;
  margin-left: 78px;
}

.footer-form form {
  display: flex;
}

.footer-label-text {
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-input-email {
  height: 50px;
  width: 350px;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    padding-left: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

.footer-button {
  display: flex;
  align-items: center;
  fill: #ffffff;
  width: 200px;
  height: 50px;
  margin-top: 36px;
  margin-left: 12px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.footer-button-text {
  margin-left: 42px;
}

.Submit-ico {
  margin-left: 24px;
}
