.logoa {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;

  padding: 24px 0 23px 0;

  justify-content: flex-start;
}

.logohd {
  color: $colorBlue;
}

.logo-black {
  color: $colorBlack;
}

.logob {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logoft {
  color: $colorBlue;
}

.logo-white {
  color: $backgroundColor;
}
