.menu {
  display: flex;
  background: $backgroundColor;
  justify-content: space-around;
  align-items: center;
}

.menu__nav {
  flex: 2;
}

.menu__nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:first-child {
    margin-left: 93px;
  }
}

.menu__nav-item {
  position: relative;
  margin-right: 46px;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 44px;
    right: 0;
    width: 0;
    height: 5px;
    background-color: $colorBlue;
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.menu__nav .active-link {
  color: $colorBlue;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 44px;
    width: 100%;
    height: 5px;
    background-color: $colorBlue;
    border-radius: 4px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu__nav a {
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $colorBlack;

  &:hover {
    color: $colorBlue;
  }
}

.contacts-link {
  text-decoration: none;
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 50px;

  color: $coloraccentGrey;

  &:hover,
  &:focus {
    color: $colorBlue;
    fill: $colorBlue;
  }
}

.ico-email {
  margin-right: 10px;
}

.ico-phone {
  margin-right: 10px;
}
