.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: white;
  background-color: white;
  display: flex;
  float: right;
}

.closte-btn-ico {
  fill: #000000;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 18%;
  right: 18%;
}
