.paragraphs__list {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
}

.paragraphs__list-item {
  margin-right: 30px;
}

.paragraphs__list-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;

  color: $colorBlack;
}

.paragraphs__list-item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: $coloraccentGrey;
}

.company-logo {
  display: flex;
  background-color: $secondarybackgroundColor;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
