.projects__list {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}

.projects__list-item {
  background: $backgroundColor;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:hover,
  &:focus {
    filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.16));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12));
    cursor: pointer;
  }
}

.projects__list-item h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;

  color: $colorBlack;
}

.projects__list-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  padding-left: 24px;
  padding-bottom: 20px;

  color: $coloraccentGrey;
}

.wyjazd {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: $backgroundColor;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}

.projects__list-item:hover .popup {
  transform: translateY(-100%);
}
