.ourteam {
  background: $secondarybackgroundColor;

  padding-top: 94px;
}

.ourteam h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: $colorBlack;

  padding-bottom: 50px;
}

.ourteam__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.ourteam__content h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 30px;

  color: $colorBlack;
}

.ourteam__content h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 10px;
  padding-bottom: 30px;

  color: $coloraccentGrey;
}

.ourteam__content-person {
  background: $backgroundColor;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam__social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.ourteam__social-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ourteam__social-list-icon {
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    fill: $backgroundColor;
  }
}

.ourteam__social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: $backgroundColor;
  fill: #afb1b8;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $colorBlue;
    fill: $backgroundColor;
  }
}
