h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.site {
  width: 1170px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.logoa {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 24px 0 23px 0;
  justify-content: flex-start;
}

.logohd {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.logob {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logoft {
  color: #2196f3;
}

.logo-white {
  color: #ffffff;
}

.menu {
  display: flex;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
}

.menu-nav {
  flex: 2;
}

.menu-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-nav-list:first-child {
  margin-left: 93px;
}

.menu-nav-item {
  position: relative;
  margin-right: 46px;
}

.menu-nav-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 44px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-item:hover::after {
  width: 100%;
  left: 0;
}

.menu-nav .active-link {
  color: #2196f3;
}

.menu-nav .active-link::after {
  position: absolute;
  content: "";
  display: block;
  top: 44px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-nav a:hover {
  color: #2196f3;
}

.contacts-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 50px;
  color: #757575;
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.ico-email {
  margin-right: 10px;
}

.ico-phone {
  margin-right: 10px;
}

.button-port {
  margin-right: 8px;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  color: #212121;
}

.button-port:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filtry-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.projects-list {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}

.projects-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-list-item:hover, .projects-list-item:focus {
  filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12));
  cursor: pointer;
}

.projects-list-item h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  color: #212121;
}

.projects-list-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-bottom: 20px;
  color: #757575;
}

.wyjazd {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}

.projects-list-item:hover .popup {
  transform: translateY(-100%);
}

.footer {
  background: #2f303a;
  display: flex;
  flex-direction: row;
}

.footer-left {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-right {
  display: flex;
  margin-left: 70px;
  margin-top: 72px;
}

.footer a {
  text-decoration: none;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-top: 20px;
  color: #ffffff;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.adress-link:hover {
  color: #2196f3;
}

.social-media {
  width: 206px;
  height: 80px;
}

.social-media-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #fff;
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media-list-icon {
  width: 20px;
  height: 20px;
}

.social-media-list-icon:hover, .social-media-list-icon:focus {
  fill: #fff;
}

.social-media-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  border-radius: 50%;
}

.social-media-list-link:hover, .social-media-list-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.footer-newsletter {
  display: flex;
}

.footer-form {
  margin-top: 72px;
  margin-left: 78px;
}

.footer-form form {
  display: flex;
}

.footer-label-text {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-input-email {
  height: 50px;
  width: 350px;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input-email::placeholder {
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input-email:hover, .footer-input-email:focus, .footer-input-email:active {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.footer-button {
  display: flex;
  align-items: center;
  fill: #ffffff;
  width: 200px;
  height: 50px;
  margin-top: 36px;
  margin-left: 12px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-button-text {
  margin-left: 42px;
}

.Submit-ico {
  margin-left: 24px;
}
/*# sourceMappingURL=portfolio.css.map */