/* =====FORMAL STUFF===== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site {
  width: 1170px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* =====SITE INDEX.HTML===== */

/* =====HEADER===== */

.header {
  padding: 32px 0px 32px 0px;
  border-bottom: 1px solid #ececec;
}

/* WEB STUDIO LOGO IN HEADER */

.logoa {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;

  justify-content: flex-start;

  /* margin-left: 215px; */
}

.logohd {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

/* MENU IN HEADER */

.menu {
  display: flex;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
}

.menu-nav {
  flex: 2;
}

.menu-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-nav-list:first-child {
  margin-left: 93px;
}

.menu-nav-item {
  margin-right: 46px;
}

/* LINKS IN HEADER MENU */

.menu-nav a {
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.menu-nav a:hover {
  color: #2196f3;
}

/* END OF LINKS IN HEADER MENU */

/* CONTACTS LINKS IN HEADER MENU */

.contacts-link {
  text-decoration: none;
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 50px;

  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.ico-email {
  margin-right: 10px;
}

.ico-phone {
  margin-right: 10px;
}

/* END OF CONTACTS LINKS IN HEADER MENU */

/* =====END OF HEADER===== */

/* =====MAIN===== */

/* CONTAINER */

.main-banner {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.order {
  padding-top: 200px;
  padding-bottom: 200px;
}

.order h1 {
  width: 696px;
  height: 120px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
}

.button {
  width: 200px;
  height: 50px;
  cursor: pointer;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  display: block;
  align-items: center;
}

/* END OF CONTAINER */

/* ADVANTAGES "ATUTY" */

.paragraphs {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
}

.paragraphs-item {
  margin-right: 30px;
}

.paragraphs-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;

  color: #212121;
}

.paragraphs-item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.company-logo {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* END OF ADVANTAGES "ATUTY" */

/* WWD "CZYM SIĘ ZAJMUJEMY" */

.WWD h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-top: 94px;
  padding-bottom: 50px;
}

.WWDpictures {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

/* END OF WWD "CZYM SIĘ ZAJMUJEMY" */

/* OUR TEAM "NASZ ZESPÓŁ" */

.ourteam {
  background: #f5f4fa;

  padding-top: 94px;
}

.ourteam h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-bottom: 50px;
}

.team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 30px;

  color: #212121;
}

.team h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 10px;
  padding-bottom: 30px;

  color: #757575;
}

.Piotrek {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Zaneta {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Mariusz {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Patryk {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-icon:hover,
.social-list-icon:focus {
  fill: #fff;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: #fff;
  fill: #afb1b8;
  border-radius: 50%;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

/* END OF OUR TEAM "NASZ ZESPÓŁ" */

/* OUR CLIENTS "NASI KLIENCI" */

.clients-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;

  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.clients-list-logo {
  display: flex;
  width: 170px;
  height: 92px;
  margin-bottom: 94px;
  border-radius: 4px;
  border-style: solid;
  border-color: #afb1b8;
  fill: #afb1b8;
}

.clients-list-logo:hover,
.clients-list-logo:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

/* END OF OUR CLIENTS "NASI KLIENCI" */

/* =====END OF MAIN===== */

/* =====FOOTER===== */

.footer {
  background: #2f303a;
  display: flex;
}

.footer-left {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-right {
  display: flex;
  margin-left: 70px;
  margin-top: 72px;
}

.footer a {
  text-decoration: none;
}

.logob {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logoft {
  color: #2196f3;
}

.logo-white {
  color: #ffffff;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  padding-top: 20px;

  color: #ffffff;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  margin-top: 9px;
}

.adress-link:hover {
  color: #2196f3;
}

.social-media {
  width: 206px;
  height: 80px;
}

.social-media-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #fff;
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media-list-icon {
  width: 20px;
  height: 20px;
}

.social-media-list-icon:hover,
.social-media-list-icon:focus {
  fill: #fff;
}

.social-media-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  border-radius: 50%;
}

.social-media-list-link:hover,
.social-media-list-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

/* =====END OF FOOTER===== */

/* =====END OF SITE INDEX.HTML===== */

/* =====SITE PORTFOLIO.HTML===== */

/* FILTERS IN "FILTRY" */

.button-port {
  margin-right: 8px;

  cursor: pointer;

  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;

  color: #212121;
}

.button-port:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filtry-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

/* END OF FILTERS IN "FILTRY" */

/* PROJECTS "PROJEKTY */

.projects-list {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}

.projects-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-list-item h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;

  color: #212121;
}

.projects-list-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  padding-left: 24px;
  padding-bottom: 20px;

  color: #757575;
}

/* END OF PROJECTS "PROJEKTY */

/* =====END OF SITE PORTFOLIO.HTML===== */
