/* =====FORMAL STUFF===== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site {
  width: 1170px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

/* =====SITE STUFF (INDEX.HTML)===== */

/* =====HEADER===== */

.header {
  padding: 32px 0px 32px 0px;
  border-bottom: 1px solid #ececec;
}

/* WEB STUDIO LOGO IN HEADER */

.logoa {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;

  justify-content: flex-start;

  /* margin-left: 215px; */
}

.logohd {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

/* MENU IN HEADER */

.menu {
  display: flex;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
}

.menu-nav {
  flex: 2;
}

.menu-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-nav-list:first-child {
  margin-left: 93px;
}

.menu-nav-item {
  margin-right: 46px;
}

/* LINKS IN HEADER MENU */

.menu-nav a {
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.menu-nav a:hover {
  color: #2196f3;
}

/* END OF LINKS IN HEADER MENU */

/* CONTACTS LINKS IN HEADER MENU */

.contacts-link {
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 50px;

  color: #757575;
}

.contacts-link:hover {
  color: #2196f3;
}

/* END OF CONTACTS LINKS IN HEADER MENU */

/* =====END OF HEADER===== */

/* =====MAIN===== */

/* CONTAINER */

.order {
  background: #2f303a;
}

.order h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding: 200px 452px 280px;

  color: #ffffff;
}

.button {
  width: 200px;
  height: 50px;
  cursor: pointer;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  display: block;
  align-items: center;
}

/* END OF CONTAINER */

/* ADVANTAGES "ATUTY" */

.paragraphs {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
}

.paragraphs:not(:last-child) {
  margin-right: 30px;
}

.paragraphs-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.paragraphs-item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

/* END OF ADVANTAGES "ATUTY" */

/* WWD "CZYM SIĘ ZAJMUJEMY" */

.WWD h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-top: 94px;
  padding-bottom: 50px;
}

.WWDpictures {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

/* END OF WWD "CZYM SIĘ ZAJMUJEMY" */

/* OUR TEAM "NASZ ZESPÓŁ" */

.ourteam {
  background: #f5f4fa;

  padding-top: 94px;
}

.ourteam h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-bottom: 50px;
}

.team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 30px;

  color: #212121;
}

.team h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 10px;
  padding-bottom: 30px;

  color: #757575;
}

.Piotrek {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Zaneta {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Mariusz {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Patryk {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* END OF OUR TEAM "NASZ ZESPÓŁ" */

/* =====END OF MAIN===== */

/* =====FOOTER===== */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer a {
  text-decoration: none;
}

.logob {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logoft {
  color: #2196f3;
}

.logo-white {
  color: #ffffff;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  padding-top: 20px;

  color: #ffffff;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  margin-top: 9px;
}
