/* =====FORMAL STUFF===== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site {
  width: 1170px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* =====SITE INDEX.HTML===== */

/* =====HEADER===== */

.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

/* WEB STUDIO LOGO IN HEADER */

.logoa {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;

  padding: 24px 0 23px 0;

  justify-content: flex-start;
}

.logohd {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

/* MENU IN HEADER */

.menu {
  display: flex;
  background: #ffffff;
  justify-content: space-around;
  align-items: center;
}

.menu-nav {
  flex: 2;
}

.menu-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-nav-list:first-child {
  margin-left: 93px;
}

.menu-nav-item {
  position: relative;
  margin-right: 46px;
}

.menu-nav-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 44px;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-item:hover::after {
  width: 100%;
  left: 0;
}

.menu-nav .active-link {
  color: #2196f3;
}

.menu-nav .active-link::after {
  position: absolute;
  content: "";
  display: block;
  top: 44px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* LINKS IN HEADER MENU */

.menu-nav a {
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.menu-nav a:hover {
  color: #2196f3;
}

/* END OF LINKS IN HEADER MENU */

/* CONTACTS LINKS IN HEADER MENU */

.contacts-link {
  text-decoration: none;
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 50px;

  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.ico-email {
  margin-right: 10px;
}

.ico-phone {
  margin-right: 10px;
}

/* END OF CONTACTS LINKS IN HEADER MENU */

/* =====END OF HEADER===== */

/* =====MAIN===== */

/* CONTAINER */

.main-banner {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.order {
  padding-top: 200px;
  padding-bottom: 200px;
}

.order h1 {
  width: 696px;
  height: 120px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
}

.button {
  width: 200px;
  height: 50px;
  cursor: pointer;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  display: block;
  align-items: center;
}

/* END OF CONTAINER */

/* ADVANTAGES "ATUTY" */

.paragraphs {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
}

.paragraphs-item {
  margin-right: 30px;
}

.paragraphs-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;

  color: #212121;
}

.paragraphs-item span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.company-logo {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* END OF ADVANTAGES "ATUTY" */

/* WWD "CZYM SIĘ ZAJMUJEMY" */

.WWD h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-top: 94px;
  padding-bottom: 50px;
}

.WWDpictures {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.WWDpictures-desc {
  position: relative;
}

.WWDpictures-desc-back {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/* END OF WWD "CZYM SIĘ ZAJMUJEMY" */

/* OUR TEAM "NASZ ZESPÓŁ" */

.ourteam {
  background: #f5f4fa;

  padding-top: 94px;
}

.ourteam h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  padding-bottom: 50px;
}

.team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 30px;

  color: #212121;
}

.team h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 10px;
  padding-bottom: 30px;

  color: #757575;
}

.Piotrek {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Zaneta {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Mariusz {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.Patryk {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-icon:hover,
.social-list-icon:focus {
  fill: #fff;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: #fff;
  fill: #afb1b8;
  border-radius: 50%;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

/* END OF OUR TEAM "NASZ ZESPÓŁ" */

/* OUR CLIENTS "NASI KLIENCI" */

.clients-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 3%;

  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.clients-list-logo {
  display: flex;
  width: 170px;
  height: 92px;
  margin-bottom: 94px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #afb1b8;
  fill: #afb1b8;
}

.clients-list-logo:hover,
.clients-list-logo:focus {
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

/* END OF OUR CLIENTS "NASI KLIENCI" */

/* =====END OF MAIN===== */

/* =====FOOTER===== */

.footer {
  background: #2f303a;
  display: flex;
  flex-direction: row;
}

.footer-left {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-right {
  display: flex;
  margin-left: 70px;
  margin-top: 72px;
}

.footer a {
  text-decoration: none;
}

.logob {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logoft {
  color: #2196f3;
}

.logo-white {
  color: #ffffff;
}

.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  padding-top: 20px;

  color: #ffffff;
}

.adress-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  margin-top: 9px;
}

.adress-link:hover {
  color: #2196f3;
}

.social-media {
  width: 206px;
  height: 80px;
}

.social-media-text {
  font-family: Roboto;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #fff;
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-media-list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.social-media-list-icon {
  width: 20px;
  height: 20px;
}

.social-media-list-icon:hover,
.social-media-list-icon:focus {
  fill: #fff;
}

.social-media-list-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  border-radius: 50%;
}

.social-media-list-link:hover,
.social-media-list-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.footer-newsletter {
  display: flex;
}

.footer-form {
  margin-top: 72px;
  margin-left: 78px;
}

.footer-form form {
  display: flex;
}

.footer-label-text {
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-input-email {
  height: 50px;
  width: 350px;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input-email::placeholder {
  padding-left: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  align-items: center;
  fill: #ffffff;
  width: 200px;
  height: 50px;
  margin-top: 36px;
  margin-left: 12px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.footer-button-text {
  margin-left: 42px;
}

.Submit-ico {
  margin-left: 24px;
}

.footer-input-email:hover,
.footer-input-email:focus,
.footer-input-email:active {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =====END OF FOOTER===== */

/* =====END OF SITE INDEX.HTML===== */

/* =====SITE PORTFOLIO.HTML===== */

/* FILTERS IN "FILTRY" */

.button-port {
  margin-right: 8px;

  cursor: pointer;

  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;

  color: #212121;
}

.button-port:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filtry-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

/* END OF FILTERS IN "FILTRY" */

/* PROJECTS "PROJEKTY */

.projects-list {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}

.projects-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-list-item:hover,
.projects-list-item:focus {
  filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12));
}

.projects-list-item:hover {
  cursor: pointer;
}

.projects-list-item h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;

  color: #212121;
}

.projects-list-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  padding-left: 24px;
  padding-bottom: 20px;

  color: #757575;
}

.wyjazd {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}

.projects-list-item:hover .popup {
  transform: translateY(-100%);
}

/* END OF PROJECTS "PROJEKTY */

/* =====END OF SITE PORTFOLIO.HTML===== */

/* =====MODAL WINDOW===== */

.backdrop {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: white;
  background-color: white;
  display: flex;
  float: right;
}

.closte-btn-ico {
  fill: #000000;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 18%;
  right: 18%;
}

.modal-window {
  position: absolute;
  height: 80%;
  width: 90%;
  max-height: 591px;
  max-width: 528px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* =====FORM IN MODAL WINDOW===== */

.form_for_offer {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form h4 {
  margin-top: 40px;
  margin-bottom: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 448px;
}

.form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-inputs label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label-text {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-textarea::placeholder {
  padding-left: 16px;
  padding-top: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  box-sizing: border-box;
}

.form-input-imie::before {
  background-image: url("../images/sprite.svg#icon-form-name");
}

.form-input:hover,
.form-input:focus,
.form-input:active,
.form-textarea:hover,
.form-textarea:focus,
.form-textarea:active {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-zgoda {
  width: 0;
  height: 0;
}

.form-checkbox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-text {
  margin-left: 8px;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-text a {
  color: rgba(33, 150, 243, 0.9);
}

.checkbox-text::before {
  display: inline-flex;
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: solid 2px #000000;
}

.form-input-zgoda:checked + .checkbox-text::before {
  display: inline-flex;
  border: none;
  content: "";
  background-color: #2196f3;
  border: solid 2px #2196f3;
  border-radius: 2px;
  background-image: url("../images/sprite.svg#icon-form-ptaszek");
  fill: #fff;
}

.form_button {
  width: 200px;
  height: 50px;

  margin-left: 124px;
  margin-top: 30px;
  margin-bottom: 40px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

/* =====END OF FORM IN MODAL WINDOW===== */

/* =====END OF MODAL WINDOW===== */
