/* =====FORMAL STUFF===== */

/* =====SITE INDEX.HTML===== */

/* =====HEADER===== */

/* WEB STUDIO LOGO IN HEADER */

/* MENU IN HEADER */

/* END OF CONTACTS LINKS IN HEADER MENU */

/* =====END OF HEADER===== */

/* =====MAIN===== */

/* CONTAINER */

/* END OF CONTAINER */

/* ADVANTAGES "ATUTY" */

/* END OF ADVANTAGES "ATUTY" */

/* WWD "CZYM SIĘ ZAJMUJEMY" */

/* END OF WWD "CZYM SIĘ ZAJMUJEMY" */

/* OUR TEAM "NASZ ZESPÓŁ" */

/* END OF OUR TEAM "NASZ ZESPÓŁ" */

/* OUR CLIENTS "NASI KLIENCI" */

/* END OF OUR CLIENTS "NASI KLIENCI" */

/* =====END OF MAIN===== */

/* =====FOOTER===== */

/* =====END OF FOOTER===== */

/* =====END OF SITE INDEX.HTML===== */

/* =====SITE PORTFOLIO.HTML===== */

/* FILTERS IN "FILTRY" */

.button-port {
  margin-right: 8px;

  cursor: pointer;

  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;

  color: #212121;
}

.button-port:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filtry-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

/* END OF FILTERS IN "FILTRY" */

/* PROJECTS "PROJEKTY */

.projects-list {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}

.projects-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.projects-list-item:hover,
.projects-list-item:focus {
  filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12));
}

.projects-list-item:hover {
  cursor: pointer;
}

.projects-list-item h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;

  color: #212121;
}

.projects-list-item h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  padding-left: 24px;
  padding-bottom: 20px;

  color: #757575;
}

.wyjazd {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
}

.projects-list-item:hover .popup {
  transform: translateY(-100%);
}

/* END OF PROJECTS "PROJEKTY */

/* =====END OF SITE PORTFOLIO.HTML===== */

/* =====MODAL WINDOW===== */

/* =====FORM IN MODAL WINDOW===== */

/* =====END OF FORM IN MODAL WINDOW===== */

/* =====END OF MODAL WINDOW===== */
